*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(50, 50, 163)
}
form{
  margin-top: 5vw;
  padding: 2vw;
  width: 80%;
  margin-left: 7%;
  border: 2px solid black;
  background-color: grey;
  border-radius: 10px;
}
form > fieldset {
  font-weight: bold;
  font-size: 4vw;
  padding: 3vw;
}
fieldset > input {
  width: 80%;
}
form > button {
  width: 30%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-radius: 10px;
  margin-left: 35%;
  background-color: red;
  padding: 4vw;
  font-weight: bold;
  font-size: 3vw;
}